@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'idroid';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root{
    --cor01:#c5ebd6;
    --cor02:#83e1ad;
    --cor03:#3ddc84;
    --cor04:#2fa866;
    --cor05:#1a5c37;
    --cor06:#036d1e;

    --fontep: Arial, Verdana, Helvetica, Sans-Serif;
    --fontedestaque: 'Bebas Neue', sans-serif;
    --fonteandroid: 'idroid', Arial;
}
*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: var(--cor01);
    font-family: var(--fontep);
}
main p{
    text-align: justify;
    margin: 15px 0px;
}
header{
    background-image: linear-gradient(to bottom, var(--cor03), var(--cor05));
    text-align: center;
    min-height: 150px;
    padding-top: 40px;
}
header > h1{
    color: white;
    font-family: var(--fontedestaque);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.24);
    font-weight: normal;

}
header > p{
    color: white;
    font-family: var(--fontep);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding: 0px 10px 0px 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.24);
}
nav{
    background-color: var(--cor05);
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.336);
    padding: 10px;
}
nav a{
    color: white;
    text-decoration: none;
    padding: 10px;
    font-weight: bold;
}
nav a:hover{
    background-color: rgba(255, 255, 255, 0.37);
    color: black;
    transition-duration: 0.5s;
}
main{
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.452);
    margin-bottom: 30px;
    border-radius: 0px 0px 10px 10px;
}
main img{
    width: 100%;
}
main img.pq{
    max-width: 350px;
    display: block;
    margin: auto;
}
main strong{
    color: var(--cor05);
}
main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor05);
    background-color: var(--cor01);
    padding: 2px 6px;
}
main a:hover{
    text-decoration: underline;
    color: var(--cor03);
}
a.externo::after{
    content:'\1F517';
}
main h1{
    color: var(--cor05);
    font-family: var(--fonteandroid);
    font-weight: normal;
    font-size: 1.8em;
}
main h2{
    font-family: var(--fonteandroid);
    font-size: 1.3em;
    color: var(--cor04);
    background-image: linear-gradient(to right, var(--cor01), transparent);
    font-weight: normal;
}
footer{
    background-color: var(--cor06);
    color: white;
    text-align: center;
}
footer a{
    color: aliceblue;
    text-decoration: none;
    font-weight: bolder;
}
footer a:hover{
    color: var(--cor02);
    text-decoration: underline;
}
aside{
    background-color: var(--cor02);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.219);
}
aside > ul{
    list-style-image: url(certo.png);
    list-style-position: inside;
    columns: 2;

}
aside > h3{
    background-color: var(--cor04);
    padding: 10px;
    color: white;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}
div.video{
    background-color: var(--cor05);
    margin: 0px -20px 30px -20px ;
    padding: 20px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 88%;
}